<div class="main">
  <div class="login" nz-row>
    <div
      nz-col
      class="gutter-row"
      nzFlex="auto"
      nzXs="2"
      nzSm="2"
      nzMd="6"
      nzLg="8"
      nzXl="8"
    ></div>
    <div
      nz-col
      class="gutter-row"
      nzFlex="auto"
      nzXs="2"
      nzSm="2"
      nzMd="6"
      nzLg="8"
      nzXl="8"
    >
      <div class="main-login">
        <div style="padding: 40px"></div>
        <div style="padding-top: 20px; padding-left: 50px; padding-right: 50px">
          <h2 nz-typography>Bienvenido</h2>
          <div style="padding: 50px"></div>
          <form
            nz-form
            [formGroup]="validateForm"
            class="login-form"
          >
            <nz-form-item>
              <nz-form-control nzErrorTip="¡Por favor ingresar su usuario!">
                <nz-input-group nzPrefixIcon="user">
                  <input
                    type="text"
                    nz-input
                    formControlName="userName"
                    placeholder="Usuario"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="¡Por favor ingresar su contraseña!">
                <nz-input-group nzPrefixIcon="lock">
                  <input
                    type="password"
                    nz-input
                    formControlName="password"
                    placeholder="Contraseña"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <div nz-row class="login-form-margin">
              <div nz-col [nzSpan]="12">
                <label nz-checkbox formControlName="remember">
                  <span style="color: #fff">Recuerdame</span>
                </label>
              </div>
              <div nz-col [nzSpan]="12">
                <a class="login-form-forgot">¿Olvide mi contraseña?</a>
              </div>
            </div>
            <button
              nz-button
              class="login-form-button login-form-margin"
              [nzType]="'primary'"
              [disabled]="!this.validateForm.valid"
              (click)="submitForm()"
            >
              Iniciar Session
            </button>
            <div style="padding: 10px"></div>
            <p class="txt-login google-txt">O ingrese con</p>
            <div nz-row nzJustify="space-around" nzAlign="middle">
              <button nz-button nzGhost>Google</button>
            </div>
            <div style="padding: 30px"></div>
            <p class="txt-login logo">Upeu Sistemas</p>
          </form>
        </div>
      </div>
    </div>
    <div
      nz-col
      class="gutter-row"
      nzFlex="auto"
      nzXs="2"
      nzSm="2"
      nzMd="6"
      nzLg="8"
      nzXl="8"
    ></div>
  </div>
</div>
